{% extends "base.html" %}

{% block body %}
<div class="col-6 col-lg-3">
    <div class="card">
        <div class="card-body">
            <div class="clearfix">
                <i class="fa fa-cogs bg-flat-color-5 p-3 font-2xl mr-3 float-left text-light"></i>
                <div class="h5 text-secondary mb-0 mt-1">{{ amount_all_time }}</div>
                <div class="text-muted text-uppercase font-weight-bold font-xs small">Spent Total</div>
            </div>
        </div>
    </div>
</div><!--/.col-->

<div class="col-6 col-lg-3">
    <div class="card">
        <div class="card-body">
            <div class="clearfix">
                <i class="fa fa-cogs bg-flat-color-5 p-3 font-2xl mr-3 float-left text-light"></i>
                <div class="h5 text-secondary mb-0 mt-1">{{ expenses_all_time }}</div>
                <div class="text-muted text-uppercase font-weight-bold font-xs small">Expenses Total</div>
            </div>
        </div>
    </div>
</div><!--/.col-->

<div class="col-6 col-lg-3">
    <div class="card">
        <div class="card-body">
            <div class="clearfix">
                <i class="fa fa-cogs bg-info p-3 font-2xl mr-3 float-left text-light"></i>
                <div class="h5 text-secondary mb-0 mt-1">{{ amount_this_month }}</div>
                <div class="text-muted text-uppercase font-weight-bold font-xs small">Spent {% now "F" %}</div>
            </div>
        </div>
    </div>
</div><!--/.col-->

<div class="col-6 col-lg-3">
    <div class="card">
        <div class="card-body">
            <div class="clearfix">
                <i class="fa fa-cogs bg-info p-3 font-2xl mr-3 float-left text-light"></i>
                <div class="h5 text-secondary mb-0 mt-1">{{ expenses_this_month }}</div>
                <div class="text-muted text-uppercase font-weight-bold font-xs small">Expenses {% now "F" %}</div>
            </div>
        </div>
    </div>
</div><!--/.col-->

<div class="col-xl-6">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Recent Expenses</strong>
        </div>
        <div class="card-body">
            {% if recent_expenses %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Amount</th>
                            <th scope="col">Wallet</th>
                            <th scope="col">Category</th>
                            <th scope="col">Comment</th>
                            <th scope="col">Method</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for expense in recent_expenses %}
                        <tr>
                            <td>{{ expense.currency.unicode_html|safe }} {{ expense.amount }}</td>
                            <td>{{ expense.wallet.name }}</td>
                            <td class="{{ expense.category.color }}"><i class="fa {{ expense.category.icon }}"></i> {{ expense.category.name }}</td>
                            <td>{{ expense.comment }}</td>
                            <td>{{ expense.method }}</td>
                            <td>{{ expense.date_spent|date:'M j, Y' }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No expenses logged. Why not <a href="{% url 'addexpense' %}">add an expense</a>?</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}