{% extends "base.html" %}

{% block body %}
<div class="col-xl-6">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Start Using NAME Today</strong>
        </div>
        <div class="card-body">
            <p class="card-text">Create an account today and start tracking your expenses! Or log in if you have already registered.</p>
            <a href="{% url 'login' %}"><button type="button" class="btn btn-secondary btn-lg">Log In</button></a>
            <a href="{% url 'register' %}"><button type="button" class="btn btn-danger btn-lg">Register</button></a>
        </div>
    </div>
</div>

<div class="col-xl-6">
    <div class="card">
        <div class="card-header">
            <strong class="card-title">Example of a Graph</strong>
        </div>
        <div class="card-body">
            <div class="chart-wrapper mt-4" >
                <canvas id="trafficChart" style="height:200px;" height="200"></canvas>
            </div>
        </div>
    </div>
</div>

{% endblock %}